body {
  background-image: url(https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmlnaHQlMjBza3l8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
h1 {
  text-align: center;
  color: blue;
}
h2 {
  text-align: center;
  color: blue;
}
h5 {
  text-align: center;
}
input {
  align-items: center;
  margin: 100px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
p {
  font-size: 50px;
  margin: 2px;
  padding: 20px 0;
}
.col {
  font-size: 30px;
}
.emojis {
  line-height: normal;
}
.temperature {
  padding-left: 300px;
}
.btn {
  padding: 4px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.search {
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}
#search-button {
  width: 80px;
  margin-top: 0;
}
